# Eclipse metadata
.classpath
.project
.settings/
.metadata/
*.class

# Build folders
bin/
target/
/build/

# OS specific
.DS_Store

# Web / Server temp files
Servers/
.recommenders/


# Redundant ignore files
.ignore

